html {
    font-size: 14px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
    background-color:rgb(77, 131, 93);
  }
  
  h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #618aaf;
    /*text-shadow: horizontal offset, vertical offset, blur radius, color*/
    text-shadow: 3px 3px 1px black;
  }

  img{
    display: block;
    margin: 0 auto;
  }

  p,
  li{
    line-height: 2;
    letter-spacing:1px;
  }

  body{
    width: 600px;
    /*2 elements in margin - first is for top & bottom, second for left & right*/
    /*or can just use 4 elements, up to you*/
    margin: 20px auto;
    background-color:azure;
    padding: 0px 20px 20px;
    border: 2px solid rgb(59, 59, 42);
  }